[user]
	name = Julien Grenier
	email = julien.grenier@nuance.com

[core]
  repositoryformatverion = 0
  filemonde = true
  bare = false
  logallrefupdates = true
  preloadindex = true
	autocrlf = input

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto

[color "branch"]
  current = red reverse
  local = blue
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[merge]
	tool = fugitive
[push]
	default = simple
[diff]
  memonicprefix = true

[alias]
  amend = commit --amend
	st = status -s
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	filelog = log -u
	undo-commit = reset --soft HEAD^
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
